<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <contextName>KafkaUtility</contextName>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/data/loginext/loginextlogs/${CONTEXT_NAME}/${CONTEXT_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>/data/loginext/loginextlogs/${CONTEXT_NAME}/${CONTEXT_NAME}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] [%level] %logger - %msg%n</pattern> -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - [%p] [%thread] [%logger.%M{39}:%L] : %m%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- <pattern>%contextName: %d{HH:mm:ss.SSS} [%thread] %level %logger - %msg%n</pattern> -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - [%p] [%thread] [%logger.%M{39}:%L] : %m%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

<!--     <logger name="com.loginext.util.logger">
        <level value="DEBUG"/>
    </logger> -->
     
  
    <!--  <logger name="o.s.d.m.r.query">
        <level value="OFF"/>
    </logger>
    
     <logger name="o.s.data.mongodb">
        <level value="OFF"/>
    </logger> -->
    
     <logger name="org.mongodb.driver">
        <level value="OFF"/>
    </logger>
    
  	<!-- <logger name="org.springframework.orm">
        <level value="OFF"/>
    </logger>
    
     <logger name="org.springframework.data">
        <level value="OFF"/>
    </logger>    
    
    <logger name="org.springframework.web">
        <level value="OFF"/>
    </logger>   -->
    
     <logger name="org.apache.http">
        <level value="OFF"/>
    </logger> 
    
    

</configuration>